div(class='container content')
    div(class='row')
        h4(class='grey-text') Sign Up
    div(class='row')
        form(class='col s12')
            div(class='row')
                div(class='input-field col s4')
                    input(type='text' id='username' class='validate')
                    label(for='username') Name
            div(class='row')
                div(class='input-field col s4')
                    input(type='password' id='password' class='validate')
                    label(for='username') Password
            div(class='row')
                button(class="btn waves-effect red lighten-1" type="submit" name="action" style='margin-right:10px') Log In
                    i(class="material-icons right") send
                button(class="btn waves-effect red lighten-1" type="submit" name="action") Registration
                    i(class="material-icons right") send
